################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BLL/obj
/Bryan.Domain/bin/Debug/netcoreapp2.1
/Bryan.Domain/obj
/Bryan.WebApi/bin/Debug/netcoreapp2.1
/Bryan.WebApi/obj
/Common.Infrastructure/bin/Debug/netcoreapp2.1
/Common.Infrastructure/obj
/Lib/bin/Debug/netcoreapp2.1
/Lib/obj
/Bryan.Mvc/bin/Debug/netcoreapp2.1
/Bryan.Mvc/obj
/Bryan.WebApi/Logs/2018/11
/Bryan.WebApi/Logs
/Bryan.App/obj
/Bryan.App/bin/Debug/netcoreapp2.1
/Bryan.Domain/bin/Release/netcoreapp2.1
/Bryan.WebApi/bin/Release/netcoreapp2.1
/Bryan.WebApi/Properties/PublishProfiles
/Common.Infrastructure/bin/Release/netcoreapp2.1
/Bryan.Mvc/bin/Release/netcoreapp2.1
/Bryan.Mvc/Properties/PublishProfiles
/BryanWu.Application/bin/Debug/netstandard2.0
/BryanWu.Application/obj
/BryanWu.Domain/bin/Debug/netstandard2.0
/BryanWu.Domain/obj
/Common/bin/Debug/netstandard2.0
/Common/obj
/BryanWu.Domain/bin/Release/netstandard2.0
/Common/bin/Release/netstandard2.0
/BryanWu.Application/bin/Release/netstandard2.0
/release/bryanWebApi/Logs
/.vs/BryanMallCore
/Bryan.WebApi/Upload
/.vs/config
/Bryan.Test/obj
/Bryan.Test/bin/Debug/netcoreapp2.1
/Bryan.Common/bin
/Bryan.Common/obj
/Bryan.WebApi/bin/Debug/netcoreapp2.2
/Bryan.Test/bin/Debug/netcoreapp2.2
/Bryan.WebApi/bin/Release/netcoreapp2.2
/HF.Goods/bin/Debug/netcoreapp2.2
/HF.Goods/obj
/HF.Order/bin/Debug/netcoreapp2.2
/HF.Order/obj
/Bryan.Gateway/obj
/Bryan.Gateway/bin/Debug/netcoreapp2.2
/Bryan.MicroService/obj
/Bryan.MicroService/bin/Debug/netstandard2.0
